/* https://github.com/styled-components/styled-components/issues/1593 🤔 */

@font-face {
  font-family: 'Asap';
  src: url(../fonts/Asap-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url(../fonts/Asap-Medium.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url(../fonts/Asap-SemiBold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url(../fonts/Asap-Bold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url(../fonts/Asap-BoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url(../fonts/PermanentMarker-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
